
body {
    margin: 0;
    padding: 0;
    background-color: #1c1c1c;
    color:#eeeeee;
    font-family: Roboto;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    padding:20px;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    background-color: #000000;
}

main {
    padding:10px;
    flex:1;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    gap: 20px;
    text-align: center;
}

footer {
    padding:10px;
    text-align: center;
    font-size: larger;
    background-color: #000000;
}

.tools {
    flex:1;
}

.gridContainer {
    flex: 1 1 500px;
    display:grid;
    align-self: center;
    justify-content: center;
    aspect-ratio: 1;
    border: 1px solid white;
}

.gridContent {
    border:#1c1c1c26 1px solid;
}

.gridContent:hover {
}

.edited {

}
.dimension {
    display: flex;
    justify-content: space-between;
}

.tools {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: #ffffff 2px solid;
}

.toolsTitle {
    padding: 10px;
    font-size: large;
    font-weight: 500;
    border-bottom: #ffffff solid 1px;
}

.toolsOptions {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
}