:root {
    --pen-color: #eeeeee;
    --background-color: #000000;
    --grid-color: #eeeeee;
}


* {
    margin:0;
    padding:0;
    font-family: Roboto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #131516;
    color:#d8d4cf;
}

header {
    padding:20px;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    background-color: #000000;
}

main {
    flex:1;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
}

footer {
    padding:10px;
    text-align: center;
    font-size: larger;
    background-color: #000000;
}

.tools {
    flex:1;
}

.grid-container {
    flex: 1 1 500px;
    display: grid;
    align-self: center;
    justify-content: center;
    aspect-ratio: 1;
    outline: 1px solid rgb(255, 255, 255);
    outline-offset: -1px;
    transition:1s;
}

.gridContent {
    transition:1s;
    background-color: var(--background-color);
}

.grid{
    outline: 1px solid var(--grid-color);
    outline-offset: -1px;
    transition:1s;
}

.gridContent:hover {
    background-color: var(--pen-color);
    scale:calc(1.2);
    border-radius: 20px;
}

.edited {
}

.dimension {
    display: flex;
    justify-content: space-between;
}

.tools-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    outline: 1px solid rgb(255, 255, 255);
    outline-offset: -1px;
    background-color:#000000;
}

.toolsTitle {
    padding: 10px;
    font-size: large;
    font-weight: 500;
    outline: 1px solid rgb(255, 255, 255);
    outline-offset: -1px;
}

.toolsOptions {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
    gap:10px;
}

.input {
    flex: 1;
}

#sizePicker {
    width:40%;
}

.info {
    flex:1;
    text-align: left;
}